[Unit]
Description=Run full ansible setup
After=multi-user.target graphical.target
Wants=network-online.target
After=network-online.target
Before=ansible-pull.service

[Service]
Type=oneshot
ExecStart=ansible-pull -i localhost, -U {{ ansible_repo_url }} {% if pull_tags is defined and pull_tags %} -t {{ pull_tags }} {% endif %} all.yml
Restart=on-failure
RestartSec=5 min
