[Service]
Environment=ARA_API_SERVER=http://aspp.uber.space:44040
Environment=ARA_API_CLIENT=http
# This should be set dynamically: python3 -m ara.setup.callback_plugins
Environment=ANSIBLE_CALLBACK_PLUGINS=/usr/lib/python3.12/site-packages/ara/plugins/callback
