[Unit]
Description=Pushit

[Service]
User=student
Type=oneshot
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="PULSE_RUNTIME_PATH=/run/user/1000/pulse/"
ExecStart=/usr/bin/bash -c 'pactl set-sink-mute $(pactl get-default-sink) 0; pactl set-sink-volume $(pactl get-default-sink) "100%"'
ExecStart=/usr/bin/mpv --quiet /home/student/.music/finalcountdown.m4a
